// .register-page,
// .login-page {
//   display: flex;
//   height: 100vh;
//   .main-div {
//     position: fixed;
//     left: 0;
//     top: 0;
//     height: 100vh;
//     overflow-y: auto;
//   }

//   .svg-div {
//     position: fixed;
//     right: 0;
//     top: 0;
//     height: 100vh;
//     // display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: #15a6ff;
//   }

//   .login-main-div {
//     position: relative; /* Change from fixed to relative to allow flexbox centering */
//     max-height: 100vh;
//     padding: 20px;
//     height: 500px;
//     margin: auto 0;
//   }
//   a {
//     color: var(--secondary-color);
//     text-decoration: underline;
//   }
// }

.register-page,
.login-page {
  display: flex;
  height: 100vh;
  // height: 100%;
  .main-div,
  .svg-div {
    flex: 1;
  }
  .main-div {
    overflow-y: auto;

    @media (max-width: 768px) {
      width: 100%;
    }

    &.login-main-div {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .svg-div {
    position: relative;

    svg {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 50vw;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  a:not(.logo-link) {
    color: var(--secondary-color);
    text-decoration: underline;
  }
}
