:root {
  --primary-color: #15a6ff;
  --secondary-color: #9244eb;
  --dark-primary-color: #2692ff;
  --font-stack: serif, monospace, Helvetica, Arial, sans-serif;
  --light-bg: #f2f6f8;
  --text-color: #1b0730;
  --text-secondary: #404255;
}
